# Association Rules

In [1]:
import pandas as pd

from mlxtend.frequent_patterns import fpgrowth, apriori, association_rules

#### 1. Carregar dados

In [2]:
# df = pd.read_excel("./data/L02-association-catalog_53275.xls", sheet_name='Amostra')

df = pd.read_excel("./data/L02-association-catalog.xls", sheet_name='Amostra')

df.head()

,ID,Bought in Division A?,Bought in Division C?,Bought in Division D?,Bought in Division F?,Bought in Division H?,Bought in Division K?,Bought in Division L?,Bought in Division M?,Bought in Division T?
0,53005,N,N,S,N,N,N,N,N,N
1,53006,N,N,S,N,N,N,N,N,N
2,53007,N,N,S,N,N,N,N,N,N
3,53008,N,N,S,N,N,N,N,N,N
4,53009,N,N,S,N,N,N,N,N,N

In [3]:
df.tail()

,ID,Bought in Division A?,Bought in Division C?,Bought in Division D?,Bought in Division F?,Bought in Division H?,Bought in Division K?,Bought in Division L?,Bought in Division M?,Bought in Division T?
5124,58129,N,N,S,N,S,N,N,N,S
5125,58130,N,N,S,N,N,N,N,N,N
5126,58131,N,N,S,N,N,N,N,N,N
5127,58132,N,N,S,N,S,N,N,N,N
5128,58133,N,S,S,N,N,N,N,N,N

#### 2. Regras de associação com FP-Growth

In [4]:
df.iloc[0, 1:].value_counts()

N    8
S    1
Name: 0, dtype: int64

In [5]:
df.iloc[-1, 1:].value_counts()

N    7
S    2
Name: 5128, dtype: int64

In [6]:
# para podermos usar esta implementação do algoritmo, os valores têm de ser 0 ou 1, ou False e True

df.replace(['N', 'S'], [False, True], inplace=True)

In [7]:
df.head()

,ID,Bought in Division A?,Bought in Division C?,Bought in Division D?,Bought in Division F?,Bought in Division H?,Bought in Division K?,Bought in Division L?,Bought in Division M?,Bought in Division T?
0,53005,False,False,True,False,False,False,False,False,False
1,53006,False,False,True,False,False,False,False,False,False
2,53007,False,False,True,False,False,False,False,False,False
3,53008,False,False,True,False,False,False,False,False,False
4,53009,False,False,True,False,False,False,False,False,False

In [8]:
df.iloc[0, 1:].value_counts()

False    8
True     1
Name: 0, dtype: int64

In [9]:
df.iloc[-1, 1:].value_counts()

False    7
True     2
Name: 5128, dtype: int64

In [10]:
len(df.columns)

10

In [11]:
freq_items = fpgrowth(df.iloc[:, 1:10], min_support=0.1, use_colnames=True)

In [12]:
freq_items.sort_values(by='support', ascending=False)

     support                                           itemsets
0   1.000000                            (Bought in Division D?)
1   0.206083                            (Bought in Division H?)
5   0.206083     (Bought in Division H?, Bought in Division D?)
3   0.158705                            (Bought in Division T?)
7   0.158705     (Bought in Division T?, Bought in Division D?)
2   0.132969                            (Bought in Division C?)
6   0.132969     (Bought in Division C?, Bought in Division D?)
4   0.113472                            (Bought in Division L?)
10  0.113472     (Bought in Division L?, Bought in Division D?)
8   0.102749     (Bought in Division T?, Bought in Division H?)
9   0.102749  (Bought in Division T?, Bought in Division H?,...

Podemos definir um valor-limite para o *support* para identificarmos os itens mais frequentes. Foi o que fizemos para calcular a variável `freq_items`, definindo um valor mínimo de 0,1 para o *support*.

In [13]:
association_rules(freq_items, metric="confidence", min_threshold=0.6).sort_values(by='confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bought in Division H?),(Bought in Division D?),0.206083,1.000000,0.206083,1.00000,1.00000,0.000000,inf
1,(Bought in Division C?),(Bought in Division D?),0.132969,1.000000,0.132969,1.00000,1.00000,0.000000,inf
2,(Bought in Division T?),(Bought in Division D?),0.158705,1.000000,0.158705,1.00000,1.00000,0.000000,inf
4,"(Bought in Division T?, Bought in Division H?)",(Bought in Division D?),0.102749,1.000000,0.102749,1.00000,1.00000,0.000000,inf
7,(Bought in Division L?),(Bought in Division D?),0.113472,1.000000,0.113472,1.00000,1.00000,0.000000,inf
3,(Bought in Division T?),(Bought in Division H?),0.158705,0.206083,0.102749,0.64742,3.14155,0.070043,2.251737
5,"(Bought in Division T?, Bought in Division D?)",(Bought in Division H?),0.158705,0.206083,0.102749,0.64742,3.14155,0.070043,2.251737
6,(Bought in Division T?),"(Bought in Division D?, Bought in Division H?)",0.158705,0.206083,0.102749,0.64742,3.14155,0.070043,2.251737

Definindo o valor mínimo de 0,6 para a *confidence*, são estas as regras que obtemos. Como o valor para a coluna `Bought in Division D?` é sempre *True*, é natural que as regras com valor máximo para a *confidence*, ou seja, 1, sejam aquelas em que o consequente é `Bought in Division D?`.

Há **3 métricas utilizadas habitualmente** para caracterizar estas associações:<br><br>

* ***support*** - indica a frequência com que um deteminado item (ou conjunto de itens) aparece

        support = n.º de transações em que um item aparece / n.º total de transações
<br>        
* ***confidence*** - indica a frequência com que o item Y apareceria se o item X estivesse presente

        confidence {X --> Y} = support {X, Y} / support {X}
<br>        
* ***lift*** - indica a frequência com que os itens X e Y aparecem juntos, tendo em conta a frequência individual de cada item

        lift {X --> Y} = support {X, Y} / support {X} * support {Y}

Um dos problemas com a utilização de *confidence* é o facto de poder sobrevalorizar a importância de uma determinada associação. Se tanto o item X como o item Y forem muito frequentes em geral, é natural que uma transação que contenha X  também contenha Y.

No nosso caso, sempre que Y for `Bought in Division D?`, support {X, Y} = support {X} e, consequentemente, confidence {X --> Y} = 1.

Para termos em consideração a frequência de cada um dos itens, podemos usar o *lift*. Um valor para o *lift* maior do que 1 significa que é provável que o item Y seja comprado se o item X for comprado; um valor menor do que 1 significa que é improvável que o item Y seja comprado se o item X for comprado.

Voltando ao nosso caso, sempre que Y for `Bought in Division D?`, lift {X --> Y} = 1, indicando que não há nenhuma associação entre X e Y.

In [14]:
association_rules(freq_items, metric="lift", min_threshold=1.1).sort_values(by='confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bought in Division T?),(Bought in Division H?),0.158705,0.206083,0.102749,0.647420,3.14155,0.070043,2.251737
2,"(Bought in Division T?, Bought in Division D?)",(Bought in Division H?),0.158705,0.206083,0.102749,0.647420,3.14155,0.070043,2.251737
4,(Bought in Division T?),"(Bought in Division D?, Bought in Division H?)",0.158705,0.206083,0.102749,0.647420,3.14155,0.070043,2.251737
1,(Bought in Division H?),(Bought in Division T?),0.206083,0.158705,0.102749,0.498581,3.14155,0.070043,1.677827
3,"(Bought in Division D?, Bought in Division H?)",(Bought in Division T?),0.206083,0.158705,0.102749,0.498581,3.14155,0.070043,1.677827
5,(Bought in Division H?),"(Bought in Division T?, Bought in Division D?)",0.206083,0.158705,0.102749,0.498581,3.14155,0.070043,1.677827

Utilizando o valor de *lift* como a nossa métrica de referência, obtemos estas regras de associação.

Alternativamente, podemos usar o **algoritmo Apriori**. Este algoritmo elimina os itens infrequentes e todos os conjuntos de itens que contenham um desses itens. Por exemplo, se {cerveja} for considerado infrequente, {cerveja, água, bolachas} ou {pão, cerveja, alface, queijo} também seriam infrequentes e não seriam considerados na elaboração da nossa lista de conjuntos de itens frequentes.

In [15]:
freq_items = apriori(df.iloc[:, 1:10], min_support=0.1, use_colnames=True)

In [16]:
freq_items.sort_values(by='support', ascending=False)

     support                                           itemsets
1   1.000000                            (Bought in Division D?)
2   0.206083                            (Bought in Division H?)
6   0.206083     (Bought in Division H?, Bought in Division D?)
4   0.158705                            (Bought in Division T?)
8   0.158705     (Bought in Division T?, Bought in Division D?)
0   0.132969                            (Bought in Division C?)
5   0.132969     (Bought in Division C?, Bought in Division D?)
3   0.113472                            (Bought in Division L?)
7   0.113472     (Bought in Division L?, Bought in Division D?)
9   0.102749     (Bought in Division T?, Bought in Division H?)
10  0.102749  (Bought in Division T?, Bought in Division H?,...